<h2>Reviews</h2>

<md-card>
    <md-subheader>Review 1</md-subheader>
    <div class="p10">
        <md-input-container class="full">
            <label>Nome</label>
            <input type="text" placeholder="Insira aqui o nome do usuário" ng-model="$root.database.reviews[0].name">
        </md-input-container>
        <md-input-container class="full">
            <label>Texto</label>
            <textarea rows="6" ng-model="$root.database.reviews[0].text"></textarea>
        </md-input-container>
    </div>
</md-card>

<md-card>
    <md-subheader>Review 2</md-subheader>
    <div class="p10">
        <md-input-container class="full">
            <label>Nome</label>
            <input type="text" placeholder="Insira aqui o nome do usuário" ng-model="$root.database.reviews[1].name">
        </md-input-container>
        <md-input-container class="full">
            <label>Texto</label>
            <textarea rows="6" ng-model="$root.database.reviews[1].text"></textarea>
        </md-input-container>
    </div>
</md-card>

<md-card>
    <md-subheader>Review 3</md-subheader>
    <div class="p10">
        <md-input-container class="full">
            <label>Nome</label>
            <input type="text" placeholder="Insira aqui o nome do usuário" ng-model="$root.database.reviews[2].name">
        </md-input-container>
        <md-input-container class="full">
            <label>Texto</label>
            <textarea rows="6" ng-model="$root.database.reviews[2].text"></textarea>
        </md-input-container>
    </div>
</md-card>